div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 200;
    height: 25vh;
    margin: 10%;
}

div a{
    font: 1em sans-serif;
    background-color: #e72929;
    border-radius: 10rem;
    padding: .7rem;
    color: white;
    margin: 1rem;
    opacity: .8;
}

div a:hover{
    opacity: 1;
    cursor: pointer;
}